<div class="box mt-5">
<div class="my-2 w-25">
  <label for="" class="my-1">catgeories</label>
  <select class="form-control">
    <option value="1">one</option>
    <option value="2">two</option>
    <option value="3">three</option>
  </select>
</div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-12" *ngFor="let item of products">
  <div class="item">
    <img src="{{item.image}}" alt="">
    <div class="body">
      <h4>{{item.title}}</h4>
      <p>{{item.description}}</p>
    </div>
    <div class="px-3 mb-2 d-flex justify-contant-bettwen align-items-center">
      <button class="btn btn-sucess">add to cart</button>
      <span>{{item.price}} le</span>
    </div>
  </div>
</div>
</div>
